* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
}
body {
  font-family: 'Vazirmatn', sans-serif;
  font-weight: 400;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.title-heading {
  text-align: center;
  margin: 40px auto;
}
.title-heading h6 {
  color: rgba(65, 86, 120, 0.9);
}
.title-heading h3 {
  font-size: 35px;
  color: #415678;
}
.zero-height {
  height: 0 !important;
}
#navbar {
  z-index: 1;
  height: 60px;
  width: 100%;
  top: 0;
  position: fixed;
  background-color: #f5f5f5;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
#navbar ul {
  list-style: none;
  width: 80%;
  display: flex;
  justify-content: start;
}
#navbar ul li {
  line-height: 60px;
  margin: 0px 10px;
}
#navbar ul li a {
  padding: 0px 5px;
  text-decoration: none;
  color: #415678;
  transition: all 300ms ease 0s;
}
#navbar ul li a:hover {
  color: rgba(65, 86, 120, 0.9);
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
#home {
  padding-top: 70px;
  margin: 0px auto 20px auto;
  width: 80%;
}
#home #home-image img {
  width: 100%;
}
#home #home-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#home #home-text h1 {
  font-size: 65px;
  color: #415678;
}
#home #home-text p {
  font-size: 18px;
  font-weight: 300;
  color: rgba(65, 86, 120, 0.9);
}
#home #home-text button {
  width: max-content;
  padding: 10px 20px;
  color: #f5f5f5;
  background-color: rgba(65, 86, 120, 0.9);
  border: 2px solid transparent;
  border-radius: 4px;
  transition: all 150ms ease 0s;
}
#home #home-text button:hover {
  color: #415678;
  background-color: #f5f5f5;
  text-shadow: 0px 0px 8px rgba(65, 86, 120, 0.9);
  border: 2px solid #415678;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);
}
#about-us {
  padding-top: 65px;
  margin: 0px auto;
  width: 80%;
}
#about-us #about-image img {
  width: 100%;
}
#about-us #about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#about-us #about-text h2 {
  color: #415678;
}
#about-us #about-text p {
  font-size: 18px;
  font-weight: 300;
  color: rgba(65, 86, 120, 0.9);
}
#about-us #about-text ul {
  margin: 0px 15px;
  font-size: 18px;
  font-weight: 300;
  color: rgba(65, 86, 120, 0.9);
}
#process {
  padding-top: 65px;
  margin: -70px auto;
}
#process #process-work {
  display: flex;
  justify-content: space-evenly;
  height: 380px;
}
#process #process-work div {
  background-color: #415678;
  color: #f5f5f5;
  text-align: center;
  width: 280px;
  height: 240px;
  cursor: pointer;
  padding: 15px;
  margin: 10px;
  border-radius: 16px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  transition: all 300ms ease;
}
#process #process-work div:hover {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
  background-color: #f5f5f5;
  scale: 1.04;
}
#process #process-work div:hover i,
#process #process-work div:hover h5,
#process #process-work div:hover p {
  color: #415678;
}
#process #process-work div i {
  font-size: 60px;
}
#process #process-work div h5 {
  margin-bottom: 10px;
}
#process #process-work div p {
  font-weight: 300;
}
#process #process-work .dark {
  align-self: flex-start;
}
#process #process-work .light {
  align-self: flex-end;
}
#items {
  padding-top: 60px;
  margin: 60px auto;
}
#items #item-box {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
#items #item-box > div {
  background-color: #f5f5f5;
  height: 400px;
  color: #415678;
  width: 350px;
  cursor: pointer;
  padding: 15px;
  border-radius: 16px;
  position: relative;
  box-shadow: 0px 0px 20px #dcdcdc;
  transition: all 300ms ease 0s;
}
#items #item-box > div:hover {
  scale: 1.05;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
#items #item-box > div .item-hover-text {
  opacity: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
  border-radius: 16px;
  background-color: rgba(0, 0, 0, 0.1);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(1px);
  transition: all 300ms ease 0s;
}
#items #item-box > div .item-hover-text a {
  width: max-content;
  padding: 10px 20px;
  color: #f5f5f5;
  background-color: rgba(65, 86, 120, 0.9);
  border: 2px solid transparent;
  border-radius: 4px;
  font-weight: 700;
  text-decoration: none;
  transition: all 150ms ease 0s;
}
#items #item-box > div .item-hover-text a:hover {
  color: #415678;
  background-color: #f5f5f5;
  text-shadow: 0px 0px 8px rgba(65, 86, 120, 0.9);
  border: 2px solid #415678;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);
}
#items #item-box > div:hover .item-hover-text {
  opacity: 1;
}
#items #item-box > div img {
  width: 100px;
  display: block;
  margin: 20px auto;
}
#items #item-box > div h2 {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
#items #item-box > div h3 {
  font-size: 20px;
  text-align: center;
  font-weight: 500;
}
#items #item-box > div ul {
  list-style: inside;
}
#items #item-box > div ul li {
  font-weight: 400;
  color: #415678;
  margin: 10px 0px;
}
#items #item-box #germany .item-hover-text a:hover {
  cursor: not-allowed;
  color: #f5f5f5;
  background-color: rgba(65, 86, 120, 0.9);
  box-shadow: 0px 0px 0px;
}
#items #item-box #spain .item-hover-text a:hover {
  cursor: not-allowed;
  color: #f5f5f5;
  background-color: rgba(65, 86, 120, 0.9);
  box-shadow: 0px 0px 0px;
}
#double-box {
  margin: 60px auto 0px auto;
}
#double-box #double-box-one {
  background-color: rgba(65, 86, 120, 0.9);
  border-radius: 9px;
  padding: 30px 60px;
  width: 90%;
  margin: 30px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#double-box #double-box-one h2 {
  color: #f5f5f5;
}
#double-box #double-box-one a {
  width: max-content;
  padding: 10px 20px;
  text-decoration: none;
  color: #f5f5f5;
  background-color: rgba(65, 86, 120, 0.9);
  border: 2px solid transparent;
  border-radius: 4px;
  transition: all 150ms ease 0s;
}
#double-box #double-box-one a:hover {
  color: #415678;
  background-color: #f5f5f5;
  text-shadow: 0px 0px 8px rgba(65, 86, 120, 0.9);
  border: 2px solid #415678;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);
}
#double-box #double-box-two {
  background-color: rgba(240, 0, 0, 0.9);
  border-radius: 9px;
  margin: 0px auto 0px auto;
  padding: 15px;
}
#double-box #double-box-two h2 {
  color: #282828;
  text-align: center;
  font-size: 25px;
  margin-bottom: 0px;
}
#faq {
  padding-top: 60px;
  margin-top: -30px;
}
#faq #in-faq {
  margin-top: -20px;
}
#faq #in-faq .quest {
  color: #415678;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
  transition: all 150ms ease 0s;
}
#faq #in-faq .quest:hover {
  filter: brightness(0.9);
  background-color: #ffffff;
}
#faq #in-faq .quest i {
  font-size: 15px;
}
#faq #in-faq .quest p {
  padding: 15px;
  margin-bottom: 0;
}
#faq #in-faq .answer {
  overflow: hidden;
  color: #415678;
  background-color: #f5f5f5;
  height: auto;
  font-size: 20px;
  font-weight: 200;
  transition: all 300ms ease 0s;
}
#faq #in-faq .answer p {
  padding: 20px;
  margin-bottom: 0;
}
#faq #in-faq .answer ul {
  padding: 20px 40px;
  margin: 0;
  list-style: outside;
}
#faq #in-faq #answer1 {
  height: 100px;
}
#faq #in-faq #answer2 {
  height: 138px;
}
#faq #in-faq #answer3 {
  height: 100px;
}
#faq #in-faq #answer4 {
  height: 100px;
}
#faq #in-faq #answer5 {
  height: 70px;
}
#contact-us {
  padding-top: 60px;
}
#contact-us #in-contact-us {
  display: flex;
  justify-content: center;
  height: 200px;
}
#contact-us #in-contact-us ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#contact-us #in-contact-us ul li {
  list-style: none;
  text-align: center;
  color: #415678;
}
#contact-us #in-contact-us ul li:first-child {
  font-size: 20px;
  font-weight: 600;
  color: #415678;
  margin-bottom: 20px;
}
#contact-us #in-contact-us ul li p {
  color: rgba(65, 86, 120, 0.9);
  font-size: 16px;
}
#contact-us #in-contact-us ul li a {
  display: inline-block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: rgba(65, 86, 120, 0.9);
}
#contact-us #in-contact-us ul li a:hover {
  color: #415678;
}
